<!-- include header -->
<%- include('./include/header')%>

<!-- main section -->
<main id="site-main">
  <div class="container">
    <div class="box-nav d-flex-justify-between">
      <div class="filter">
        <a href="/"><i class="fas fa-angle-double-left"></i> All Users</a>
      </div>
      <div class="confirm">
        <h2>Confirmation</h2>
        <h4>Data inserted Successfully!!!</h4>
      </div>
    </div>
  </div>
</main>
